<?php

$header = <<<EOF
This file is part of a markocupic Contao Bundle

@copyright  Marko Cupic 2020 <m.cupic@gmx.ch>
@author     Marko Cupic
@package    Contao Hello World Bundle
@license    MIT
@see        https://github.com/markocupic/contao-hello-world-bundle
EOF;

$finder = PhpCsFixer\Finder::create()
    ->exclude('Resources')
    ->in([
        __DIR__.'/src',
    ])
;

$config = new Contao\PhpCsFixer\DefaultConfig($header);
$config
    ->getFinder()
    ->in(['src/'])
;

return $config;
;
